.navbar{

position:sticky;
top:0;
z-index:1000;

display:flex;
justify-content:space-between;
align-items:center;

padding:18px 40px;

background:rgba(15,23,42,.92);
backdrop-filter:blur(12px);

box-shadow:0 8px 25px rgba(0,0,0,.15);

}

.logo{

font-size:28px;
font-weight:700;
color:white;
letter-spacing:1px;
cursor:pointer;
transition:.3s;

}

.logo:hover{

transform:scale(1.05);

}

.nav-links{

display:flex;
align-items:center;
gap:18px;

}

.nav-link{

padding:10px 18px;

color:white;
text-decoration:none;

border-radius:30px;

font-weight:600;

transition:.3s;

}

.nav-link:hover{

background:#2563eb;
color:white;
transform:translateY(-2px);

}

.active-link{

background:linear-gradient(90deg,#2563eb,#06b6d4);

color:white;

box-shadow:0 5px 15px rgba(37,99,235,.4);

}

@media(max-width:900px){

.navbar{

flex-direction:column;
gap:15px;

}

.nav-links{

flex-wrap:wrap;
justify-content:center;

}

}